/* Global */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
body {
    font-size: 16px;
    font-family: "Josefin Sans", sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    text-align: center;
    background-color: hsla(0, 36%, 70%, 10%);
    color: hsla(0, 36%, 70%, 75%);
    box-sizing: border-box;
}

/* Header */
.header-main {
    height: 5rem;
    text-align: left;
    min-width: 375px;
}

.header-logo {
    padding: 1.5rem 2rem;
    height: 30%;
}

/* Main */
.main-title {
    font-weight: 300;
    font-size: 2.4rem;
    letter-spacing: 0.7rem;
    padding-top: 1rem;
}

.hero-img-mobile{
    width: 100%;
}

.coming-soon {
    font-weight: 600;
    color: black;
}

.main-text {
    text-align: center;
    padding: 0 1rem 2rem;

}

.hero-img-desktop {
    display: none;
}

/* Form */

.form-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18rem;
    height: 3rem;
    margin: 2rem auto 1rem;
    border: 1px solid hsla(0, 6%, 24%, 22%);
    border-right: hidden;
    border-radius: 50px;
}

.form-main:hover{
    border: solid 2px hsl(0, 93%, 68%)
}

.form-email {
    width: 77%;
    float: left;
    background-color: transparent;
    border-style: none;
    font-family: inherit;
    padding: 0.5rem 0;
    margin-left: 2rem;
    font-size: 1rem;
    outline: none;
}

::placeholder {
    color: hsla(0, 36%, 70%, 35%);
    font-size: 0.8rem;
    font-weight: 600;
    font-family: inherit;
}

.form-error-icon {
    visibility: hidden;
}

.form-button-main {
    margin-left: 0.5rem;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    height: 3rem;
    width: 5rem;
    border-radius: 50px;
    box-shadow: 0 .5rem 1rem hsla(0, 93%, 68%, 30%);
    outline: none;
}

.form-button-main:hover{
    background: linear-gradient(135deg, hsl(0, 80%, 92%), hsl(0, 80%, 86%));
}

.error-message {
    font-size: 0.8rem;
    color: hsl(0, 50%, 70%);
    text-align: center;
    padding-right: 3.5rem;
    visibility: hidden;
}



/* Footer */
.footer-text {
    font-size: 11px; text-align: center;
}

.footer-link {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
    body {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: repeat(3, 1fr);
        height: 100vh;
    }

    .hero-img-mobile {
        display: none;
    }

    .hero-img-desktop {
        display: block;
    }

    .hero-container {
        max-width: 100%;
        grid-row: 1 / 6;
        grid-column: 2;
        overflow: hidden;
    }

    .main {
        line-height: 3rem;
    }

    .main-text {
        width: 100%;
        text-align: left;
        padding: unset;
        line-height: 1.5rem;
    }

    .main, .form-main{
        width: 60%;
        grid-column: 1;
        width: 60%;
        margin: 0 auto;
        text-align: left;
    }

    .header-main {
        margin: 0 auto; 
        text-align: left;
        min-width: 60%;
    }

    .header-logo {
        padding: unset;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
}