/* Global */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
body {
    font-size: 16px;
    font-family: "Josefin Sans", sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    text-align: center;
    background-color: hsla(0, 36%, 70%, 10%);
    color: hsla(0, 36%, 70%, 75%);
}

/* Header */
.header-main {
    height: 5rem;
    text-align: left;
    min-width: 375px;
}

.header-logo {
    padding: 1.5rem 2rem;
    height: 30%;
}










/* Footer */
.footer-text {
    font-size: 11px; text-align: center;
}

.footer-link {
    color: hsl(228, 45%, 44%);
}